
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(36, 199, 44);
    line-height: 30px;
	text-align: center;
	
}
img {
    max-width: 100%;
    max-height: 100%;
}
.intro
{
  background-image: url("bg_img/bg-1.jpg"); /* The image used */
  background-color: #86178a; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
.navbar
{
  
  background-color: #444;
}

/***** General style, all sections *****/




/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #444;
	color: #aaa;
	text-align: left;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #aaa;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
