
@media (min-width: 992px) and (max-width: 1199px) {


	

	
}

@media (min-width: 768px) and (max-width: 991px) {
	

	
	.header { padding: 180px 0; }

	.section-description p { padding: 0; }
	
	

}

@media (max-width: 767px) {

	.header { padding: 140px 0; }
	.header .top-big-link { margin-top: 25px; }
	.header .top-big-link a.btn { margin-top: 10px; }
	
	.section-description p { padding: 0; }
	
	.intro-container { padding-bottom: 60px; }
	.intro-box { text-align: center; }
	.intro-box h3 { margin-top: 20px; padding-top: 10px; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	
	
}
